* {
    -fx-primary: #2A2E37;
    -fx-secondary: #FFFF8D;
    -fx-primarytext: #B2B2B2;
    -fx-blue: #0074cc;
    -fx-red: #FF0000;
    -fx-green: #2E7D32;
}
/*tab字体样式*/
.familyName {
    -fx-font-family: "Comic Sans MS";
}
/*内容盒子样式，设置一下圆角和内边距*/
.box {
    -fx-border-color: rgb(162, 162, 162);
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5 5 5 5;
}

.root {
    -fx-background-image: url("../images/bg.png") ;
    -fx-background-size: stretch stretch;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

.tab {
    -fx-background-color: -fx-primary;
    -fx-pref-width : 180;
    -fx-pref-height : 50;
}

.tab-header-background {
    -fx-background-color: -fx-primary;

}

/*Hamburger Styling*/
.jfx-hamburger-icon{
    -fx-spacing: 6;
}



.table-view {
    -fx-border-width: 1px;
    -fx-border-color: #CACACA;
    -fx-background-color: transparent;
}

.table-view:focused {
    /*-fx-background-color: transparent;*/
}

.table-view .table-cell {
    -fx-font-size: 12px;
}

.table-view .filler {
    -fx-background-color: #BDE8FF;
}

.table-view .text {
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: #2A2E37;
    -fx-text-fill: white;
    -fx-pref-height: 40px;
    -fx-border-width: 1px;
    -fx-border-color: #D9D9D9;
    -fx-border-insets: -2px -2px 0px -2px;
}

.table-view .column-header-background .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 16px;
}

.table-row-cell {
    /*行高*/
    -fx-cell-size: 40px;
}

.table-row-cell .cell {
    -fx-alignment: center;
    -fx-text-fill: black;
    /*#333333*/
}

.table-view .table-cell:selected {
    -fx-text-fill: white;
}

.table-view .table-column .column-header {
    -fx-background-color: #363739;
}

.cell {
    /*-fx-border-width: 0px 1px 0 0;*/
    /*-fx-border-color: #CACACA;*/
}

.table-view .scroll-bar {
    -fx-background-color: transparent;
}

.viewport {
    -fx-background-color: white;
}
